@CHARSET "UTF-8";

html, body {
    height: 100%;
    background:#BEF781;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: top-middle;
}

#page{
	
}

#header-main, #body-main, #footer-main{
	border-collapse: collapse;
    border-style: solid;
    border-width: medium;
    border-color: #2EFE2E;
}

#header-main{
	background: #ffffff;
}