@CHARSET "UTF-8";

html{
    height: 100%;
    background:#0AB2B5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: table;
    margin: auto;
}

body{
	background: #047F8F;
}

body {
    display: table-cell;
    vertical-align: top-middle;
}

#body-main{
	border: 0;
	border-style: solid;
	border-top-width: 2px;
	border-left-width: 2px;
	border-color: #0C3C50;
}

#header-main{
	background: #E9E7EC;
}